#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

credentials.json
terraform.auto.tfvars
cluster.yml
cluster.rkestate
kube_config_cluster.yml